@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin:0;
    font-family: 'Amatic SC', cursive;
    background-color: bisque;
    overflow: hidden;
}

.screen{
    height:100vh;
}

.first-screen{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title{
    font-size:50px;
}

.play-btn{
    font-size: 20px;
    border-radius: 10px;
    border: 0;
    color:#fff;
    background-color:coral;
    padding:5px;
    cursor: pointer;
}

.btn-container button{
    margin:10px;
}

.screen.up
{
    margin-top:-100vh;
    transition: margin 0.4s ease-in-out;
}

.second-screen{
    display: flex;
    flex-direction: column;
    align-items: center;   
    justify-content: center;
  
}

.food-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding:0;
}

.food-list li {
padding:0;
margin:10px;
}

.food-list li button{
    width:150px;
    height:150px;
    padding:10px;
    background-color: transparent;
    border: 1px solid rgba(0,0,0,0.8);
    cursor: pointer;
    border-radius: 5px;
}

.food-list li button:hover{
    background-color: #fff;
}

.food-list li button:active{
    background-color: rgba(0,0,0,0.2);
}

.food-list li button:focus{
    outline: none;
}

.food-list li h3{
    text-transform: uppercase;
}

.food-list li button img{
    width:100px;
    height:70px;
    object-fit: contain;
    max-width:100%;
    max-height:100%;
    margin:0;
}

.third-screen{
    position: relative;
}

.third-screen .time{
    position: absolute;
    left:10px;
    top:10px;
    font-size: 40px;
}

.third-screen .score{
    position:absolute;
    right:10px;
    top:10px;
    font-size:40px;
}

.third-screen .food{
    position:absolute;
    width:100px;
    height:100px;
    left:200px;
    top:300px;
    cursor: pointer;
    transform: translate(-50%,-50%) scale(1);
}


.food.caught{
    transform: translate(-50%,-50%) scale(0);
    transition: transform 0.2s ease-in-out;
}

.message{
    position:absolute;
    font-size:2.5rem;   
    top:0;
    left:50%;
    width:100%;
    padding:15px;
    color: #fff;
    font-weight: bold;
    background-color:rgba(0,0,0,0.5);
    text-align: center;
    transform: translate(-50%,-150%);
    transition: trasform 0.4s ease-in-out;
    z-index: 100;
    opacity: 0;
    
}

.message.show{
    opacity: 1;
    transform: translate(-50%,150%);
    transition: transform 0.4s ease-in-out;
}