@import url('https://fonts.googleapis.com/css2?family=ZCOOL+XiaoWei&display=swap');


:root{
    
    --primary-color:#fff;
    --secondery-color:black;
}


html.black{
    
    --primary-color : black;
    --secondery-color : #fff;
}


*{
    box-sizing: border-box;
}


body{
    font-family: 'ZCOOL XiaoWei', serif;
    margin:0;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--primary-color);
    color:var(--secondery-color);
    height:100vh;
    transition:all 0.2s ease-in;
    
}

h1{
    margin:0;
    position: absolute;
    top:10%;
}

.toggle{
    cursor: pointer;
    position: absolute;
    top:15%;
    font-size:15px;
    border:0;
    background-color: var(--secondery-color);
    color:var(--primary-color);
    padding:10px 5px;
    border-radius: 10px;
    
   
}

.clock-container{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   
   

}

.needle-container{
    
    position: relative;
    width:300px;
    height:300px;
    
    margin-bottom: 30px;
}


.needle{
    position:absolute;
    background-color: var(--secondery-color);
    width:5px;
    height:100px;
    top:50%;
    left:50%;
    transform-origin: bottom center;/*중심축을 가운데로 옮김*/
    transition: transform 0.3s linear;
}

.needle.hour{
    transform: translate(-50%,-100%) rotate(50deg);
    height:60px;
}

.needle.minute{
    transform: translate(-50%,-100%) rotate(60deg);
    height:110px;
}

.needle.second{
    transform: translate(-50%,-100%) rotate(80deg);
    height:95px;
    background-color: tomato;
}

.circle{
    position:absolute;
    width:15px;
    height:15px;
    background-color: var(--secondery-color);
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
}

.time{
font-size:50px;
}

.date{
    margin:10px 0;
    font-size:20px;
    color:var(--secondery-color);
   position: absolute;
   bottom:0;
   left:25%;
    
}

.date span:nth-of-type(2){
    background-color: var(--secondery-color);
    color:var(--primary-color);
    border-radius: 50%;
    padding:3px;
    
}