@import url('https://fonts.googleapis.com/css2?family=ZCOOL+XiaoWei&display=swap');


:root{
    
    --primary-color:#fff;
    --secondery-color:black;
}


html.black{
    
    --primary-color : black;
    --secondery-color : #fff;
}


*{
    box-sizing: border-box;
}


body{
    font-family: 'ZCOOL XiaoWei', serif;
    margin:0;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--primary-color);
    color:var(--secondery-color);
    height:100vh;
    padding-bottom:100px;
}

h1{
    margin:0;
    position: absolute;
    top:15%;
}

.toggle{
    position: absolute;
    top:20%;
    font-size:15px;
    border:0;
    background-color: var(--secondery-color);
    color:var(--primary-color);
    padding:10px 5px;
    border-radius: 10px;
   
}

.clock-container{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   

}

.needle-container{
    
    position: relative;
    width:300px;
    height:300px;
    background-color: bisque;
}


.needle{
    position:absolute;
    background-color: var(--secondery-color);
    width:5px;
    height:100px;
    top:50%;
    left:50%;
transform-origin: ;
}